.manage-spots-div {
    margin-right: 70px;
    margin-left: 70px;
}

.manage-spots-title {
    margin-bottom: 10px;
}

.create-new-spot-button {
    height: 35px;
    width: auto;
    margin-bottom: 12px;
    color: white;
    background-color: #3f7043;
    border-radius: 10px;
    border: none;
    margin-bottom: 25px;
    padding: 0 10px 0 10px;
}

.create-new-spot-button:hover {
    cursor: pointer;
    background-color: forestgreen;
}

.current-spots-div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin-bottom: 100px;
}

.spot-tile-info {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.spot-tile-info:hover {
    cursor: pointer;
}

.update-delete-buttons {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: start;
    gap: 10px;
}

.update-button {
    height: 35px;
    border-radius: 10px;
    border: 1px solid black;
    background-color: transparent;
    width: auto;
}

.update-button:hover {
    cursor: pointer;
    background-color: #F4F4F4;
}

.delete-manage-spot {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

.delete-spot-button {
    margin-top: 12px;
    height: 45px;
    width: 100%;
    margin-bottom: 12px;
    color: white;
    background-color: #3f7043;
    border-radius: 10px;
    border: none;
}

.delete-spot-button:hover {
    cursor: pointer;
    background-color: forestgreen;
}

.keep-spot-button {
    height: 45px;
    width: 100%;
    border-radius: 10px;
    border: 1px solid black;
}

.keep-spot-button:hover {
    cursor: pointer;
    background-color: lightgrey;
}
