.spot-details-div {
    margin-left: 100px;
    margin-right: 100px;
}

.images-description-reserve {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

.spot-images {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.left-image-div {
    display: flex;
    width: 50%;
}

.left-image {
    width: 100%;
    border-radius: 12px 0 0 12px;
    object-fit: cover
}

.right-images-div {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
    width: 50%;
    gap: 10px;
}

.right-images {
    width: 49%;
    object-fit: cover
}

.host-description-reserve {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
    gap: 30px;
}

.hostname-description {
    width: 70%;
}

.reserve-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 175px;
    gap: 15px;
    border: 1px solid lightgray;
    box-shadow: 2px 2px 8px 2px rgb(227, 227, 227);
    border-radius: 10px;
    width: 30%;
}

.price-reviews {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding-top: 25px;
}

.reserve-button {
    width: 80%;
    height: 50px;
    margin-bottom: 25px;
    color: white;
    background-color: #3f7043;
    border-radius: 10px;
    border: none;
}

.reserve-button:hover {
    cursor: pointer;
    background-color: forestgreen;
}

.price {
    font-size: 22px;
}

.star-rating-reviews {
    font-size: 18px;
}

.star-and-reviews {
    font-size: 20px;
    font-weight: bold;
}

.reviewer-name {
    font-size: 16px;
    margin-bottom: 5px;
}

.review-date {
    color: darkgray;
    font-size: 16px;
}

.review-description {
    font-size: 14px;
    font-weight: normal;
}

.modal-button {
    margin-top: 15px;
    height: 35px;
    width: auto;
    color: black;
    border-radius: 10px;
    border: none;
    background-color: transparent;
    border: 1px solid black;
}

.modal-button:hover {
    background-color: #F4F4F4;
    cursor: pointer;
}

#modal-content {
    border-radius: 10px;
}
.review-form {
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 15px;
}

.star-ratings {
    display: flex;
    justify-content: center;
    margin: 15px 0 15px 0; 
}

.rating-input {
    display: flex;
    flex-direction: row;
}

.star-1, .star-2, .star-3, .star-4, .star-5:hover {
    cursor: pointer;
}

.review-submit-button {
    height: 45px;
}

.review-submit-button:hover {
    cursor: pointer;
}

.reviewer-name {
    margin-top: 20px;
    margin-bottom: 8px;
}

.review-date {
    margin-top: 0px;
    margin-bottom: 8px;
}

.review-description {
    margin-top: 0px;
    margin-bottom: 8px;
}

.delete-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

.confirm-delete {
    margin-top: 10px;
    margin-bottom: 4px;
}

.review-delete-button {
    margin-top: 12px;
    height: 45px;
    width: 100%;
    margin-bottom: 12px;
    color: white;
    background-color: #3f7043;
    border-radius: 10px;
    border: none;
}

.review-delete-button:hover {
    cursor: pointer;
    background-color: forestgreen;
}

.review-keep-button {
    height: 45px;
    width: 100%;
    border-radius: 10px;
    border: 1px solid black;
}

.review-keep-button:hover {
    cursor: pointer;
    background-color: lightgrey;
}

.footer-line {
    margin-top: 100px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    max-height: 50px;
}