.all-spots-div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
    margin-left: 100px;
    margin-right: 100px;
    border: 1px solid blue;
}

.spot-tile {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-top: 30px;
    border: 1px solid red;
}

.spot-tile:hover {
    cursor: pointer;
}

.spot-image {
    width: 100%;
}

.city-state-ratings {
    display: flex;
    justify-content: space-between;
}





