
.profile-dropdown {
  position: absolute;
}

.hidden {
  display: none;
}

.bearbnb-logo {
  width: 60%;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 10px;
}

.right-navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
}

.create-spot-link {
  background-color: transparent;
  border: none;
  height: 40px;
  width: 140px;

}

.create-spot-link:hover {
  background-color: #F4F4F4;
  border-radius: 50px;
  cursor: pointer;
}

.header-line {
  margin-top: 20px;
  height: 0.5px;
  color: lightgray;
}