.background-modal {
    border: 1px solid lightgrey;
    border-radius: 40px;
    background-color: transparent;
}

.background-modal:hover {
    cursor: pointer;
    box-shadow: 2px 2px 4px lightgrey;
}

.modal-button {
    background-color: transparent;
}

.profile-dropdown {
    margin-top: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 180px;
    margin-left: -80px;
    border: 1px solid #F4F4F4;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 3px rgb(227, 227, 227);
}

.profile-dropdown:hover {
    cursor: pointer;
}

.login-signup {
    width: 180px;
    text-align: center;
}

.login-signup:hover {
    cursor: pointer;
    background-color: #F4F4F4;
}

.email-greeting {
    margin-bottom: 0px;
}

.user-info-line {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
    width: 150px;
}

.manage-spots-button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    height: 35px;
    width: 120px;
    text-decoration: none;
    background-color: transparent;
    border: none;
    border-radius: 50px;
}

.manage-spots-button:hover {
    background-color: #F4F4F4;
}

.logout-button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #3f7043;
    border: none;
    border-radius: 25px;
    width: 80px;
    height: 35px;
    margin-bottom: 10px;
}

.logout-button:hover {
    cursor: pointer;
    background-color: forestgreen;
}