.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
}

.login-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 45px;
}

.demo-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 45px;
    margin-bottom: 20px;
}

.login-button:hover, .demo-button:hover {
    cursor: pointer;
}